:root,
page {
  --theme-color-white: #ffffff;
  --theme-color-primary: #4d59e8;
  --theme-color-primaryDark: #3743c9;
  --theme-color-primaryS: #2869ff;
  --theme-color-textMain: #17181a;
  --theme-color-textActive: #585c69;
  --theme-color-TagBg: #eff1f3;
}
