::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  color: transparent;
}

view {
  box-sizing: border-box;
}

#app {
  // margin-top: 30p;
}

page,
#app {
  background-color: var(--theme-color-Bg) !important; //设置背景颜色为灰色

  > view {
    // margin-top: 30px;
  }

  .van-divider {
    margin: 0;
  }

  .weui-tabbar {
    display: none;
  }

  .van-tabbar-item--active {
    color: var(--theme-color-primary);
  }
  .van-tabbar-item__icon__inner {
    font-size: 48px !important;
  }
}

.stopScroll {
  height: 100vh;
  overflow: hidden;
}
